* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
}

.bg-image {
    background-image: url('../images/background-full.jpg');
    background-repeat: no-repeat;
}
